body {
    font-family: "Noto Sans JP";
    font-size: "25px";
    text-align: center;
    background: white;
}

#frame {
    border: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    user-select: none;
}

.container {
    margin-top: 400px;
    font-family: "Noto Sans JP";
    font-size: "50px";
    color: #FFF;

}

.container p {
    font-size: 50px;
    margin-bottom: 400px;
}

#iurl {
    background-color: inherit;
    width: 100%;
    height: 28px;
    border: solid 1px #FFF;
    font-family: "Roboto";
    font-size: 16px;
    color: #000000;
    padding: 8px 0px;
    margin-bottom: 5px;
    box-sizing: content-box;
    text-align: center; 
    border-radius: 2px;
}

.container a {
    height: 20px;
    background: inherit;
    border: 0;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 17px;
    transition: 0.3s;
}

.container a:hover {
    font-size: 23;
}

.url {
    width: 300px;
    margin: auto;
} 

body {
	background-color: white;
	background-size: 400% 400%;
}

.black_text {
  color: black;
}

footer {
  color: black;
}

#popup {
display: none;
}

.open {
display: initial !important;
}

#settingsbtn{
  height: 50px;
  width: 50px;
}

#settings {
  text-align: right;
}

#footl {
  position: fixed;
  bottom: 0; 
  width:100%; 
  text-align: left; 
  color: black 
}

#footr {
  position: fixed;
  bottom: 0; 
  width:100%; 
  text-align: left; 
  color: black 
}

#footm {
  position: fixed;
  bottom: 0; 
  width:100%; 
  text-align: left; 
  color: black 
}
